In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from preprocessing_functions import *

In [2]:
train_df=pd.read_excel(r"C:\Users\prave\OneDrive\Desktop\ML Learning\Hands on datasets\Flight\Data_Train.xlsx")
test_df=pd.read_excel(r"C:\Users\prave\OneDrive\Desktop\ML Learning\Hands on datasets\Flight\Test_set.xlsx")

In [3]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [5]:
train_df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [6]:
train_df.Date_of_Journey

0        24/03/2019
1         1/05/2019
2         9/06/2019
3        12/05/2019
4        01/03/2019
            ...
10678     9/04/2019
10679    27/04/2019
10680    27/04/2019
10681    01/03/2019
10682     9/05/2019
Name: Date_of_Journey, Length: 10683, dtype: object

In [7]:
train_df.Airline.unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [8]:
train_df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [9]:
train_df['Date_of_Journey'].str.split('/')

0        [24, 03, 2019]
1         [1, 05, 2019]
2         [9, 06, 2019]
3        [12, 05, 2019]
4        [01, 03, 2019]
              ...
10678     [9, 04, 2019]
10679    [27, 04, 2019]
10680    [27, 04, 2019]
10681    [01, 03, 2019]
10682     [9, 05, 2019]
Name: Date_of_Journey, Length: 10683, dtype: object

In [10]:
train_df['Date_of_Journey'].str.split('/').str[1]  
 # simpletrain_df['Date_of_Journey'].str.split('/')[1] indexing is not enough as it fetches the first list sop give str[]. 
 # since this was an object and not a string

0        03
1        05
2        06
3        05
4        03
         ..
10678    04
10679    04
10680    04
10681    03
10682    05
Name: Date_of_Journey, Length: 10683, dtype: object

In [11]:
##Fetaure Engineering 

train_df['Date']=train_df['Date_of_Journey'].str.split('/').str[0]
train_df['Month']=train_df['Date_of_Journey'].str.split('/').str[1]
train_df['Year']=train_df['Date_of_Journey'].str.split('/').str[2]

In [12]:
train_df.drop(['Date_of_Journey'],axis=1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,04,2019
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,04,2019
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,04,2019
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,01,03,2019
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,05,2019

In [13]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  object
 12  Month            10683 non-null  object
 13  Year             10683 non-null  object
dtypes: int64(1), object(13)
memory usage: 1.1+ MB

In [15]:
train_df['Date']=train_df['Date'].astype(int)
train_df['Month']=train_df['Month'].astype(int)
train_df['Year']=train_df['Year'].astype(int)

In [16]:
train_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019

In [17]:
train_df.drop(['Date_of_Journey'],axis=1,inplace=True)

In [18]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int32
 11  Month            10683 non-null  int32
 12  Year             10683 non-null  int32
dtypes: int32(3), int64(1), object(9)
memory usage: 959.9+ KB

In [19]:
train_df.Airline.value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1752
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [20]:
train_df.describe(include='all')

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
count,10683,10683,10683,10682,10683,10683,10683,10682,10683,10683.000000,10683.000000,10683.000000,10683.0
unique,12,5,6,128,222,1343,368,5,10,NaN,NaN,NaN,NaN
top,Jet Airways,Delhi,Cochin,DEL → BOM → COK,18:55,19:00,2h 50m,1 stop,No info,NaN,NaN,NaN,NaN
freq,3849,4537,4537,2376,233,423,550,5625,8345,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9087.064121,13.508378,4.708602,2019.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4611.359167,8.479277,1.164357,0.0
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1759.000000,1.000000,3.000000,2019.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5277.000000,6.000000,3.000000,2019.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8372.000000,12.000000,5.000000,2019.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12373.000000,21.000000,6.000000,2019.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79512.000000,27.000000,6.000000,2019.0

In [21]:
train_df.Destination.unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [22]:
train_df.Route.unique()

array(['BLR → DEL', 'CCU → IXR → BBI → BLR', 'DEL → LKO → BOM → COK',
       'CCU → NAG → BLR', 'BLR → NAG → DEL', 'CCU → BLR',
       'BLR → BOM → DEL', 'DEL → BOM → COK', 'DEL → BLR → COK',
       'MAA → CCU', 'CCU → BOM → BLR', 'DEL → AMD → BOM → COK',
       'DEL → PNQ → COK', 'DEL → CCU → BOM → COK', 'BLR → COK → DEL',
       'DEL → IDR → BOM → COK', 'DEL → LKO → COK',
       'CCU → GAU → DEL → BLR', 'DEL → NAG → BOM → COK',
       'CCU → MAA → BLR', 'DEL → HYD → COK', 'CCU → HYD → BLR',
       'DEL → COK', 'CCU → DEL → BLR', 'BLR → BOM → AMD → DEL',
       'BOM → DEL → HYD', 'DEL → MAA → COK', 'BOM → HYD',
       'DEL → BHO → BOM → COK', 'DEL → JAI → BOM → COK',
       'DEL → ATQ → BOM → COK', 'DEL → JDH → BOM → COK',
       'CCU → BBI → BOM → BLR', 'BLR → MAA → DEL',
       'DEL → GOI → BOM → COK', 'DEL → BDQ → BOM → COK',
       'CCU → JAI → BOM → BLR', 'CCU → BBI → BLR', 'BLR → HYD → DEL',
       'DEL → TRV → COK', 'CCU → IXR → DEL → BLR',
       'DEL → IXU → BOM → COK', 'CCU → IXB → BLR',
       'BLR → BOM → JDH → DEL', 'DEL → UDR → BOM → COK',
       'DEL → HYD → MAA → COK', 'CCU → BOM → COK → BLR',
       'BLR → CCU → DEL', 'CCU → BOM → GOI → BLR',
       'DEL → RPR → NAG → BOM → COK', 'DEL → HYD → BOM → COK',
       'CCU → DEL → AMD → BLR', 'CCU → PNQ → BLR',
       'BLR → CCU → GAU → DEL', 'CCU → DEL → COK → BLR',
       'BLR → PNQ → DEL', 'BOM → JDH → DEL → HYD',
       'BLR → BOM → BHO → DEL', 'DEL → AMD → COK', 'BLR → LKO → DEL',
       'CCU → GAU → BLR', 'BOM → GOI → HYD', 'CCU → BOM → AMD → BLR',
       'CCU → BBI → IXR → DEL → BLR', 'DEL → DED → BOM → COK',
       'DEL → MAA → BOM → COK', 'BLR → AMD → DEL', 'BLR → VGA → DEL',
       'CCU → JAI → DEL → BLR', 'CCU → AMD → BLR',
       'CCU → VNS → DEL → BLR', 'BLR → BOM → IDR → DEL',
       'BLR → BBI → DEL', 'BLR → GOI → DEL', 'BOM → AMD → ISK → HYD',
       'BOM → DED → DEL → HYD', 'DEL → IXC → BOM → COK',
       'CCU → PAT → BLR', 'BLR → CCU → BBI → DEL',
       'CCU → BBI → HYD → BLR', 'BLR → BOM → NAG → DEL',
       'BLR → CCU → BBI → HYD → DEL', 'BLR → GAU → DEL',
       'BOM → BHO → DEL → HYD', 'BOM → JLR → HYD',
       'BLR → HYD → VGA → DEL', 'CCU → KNU → BLR',
       'CCU → BOM → PNQ → BLR', 'DEL → BBI → COK',
       'BLR → VGA → HYD → DEL', 'BOM → JDH → JAI → DEL → HYD',
       'DEL → GWL → IDR → BOM → COK', 'CCU → RPR → HYD → BLR',
       'CCU → VTZ → BLR', 'CCU → DEL → VGA → BLR',
       'BLR → BOM → IDR → GWL → DEL', 'CCU → DEL → COK → TRV → BLR',
       'BOM → COK → MAA → HYD', 'BOM → NDC → HYD', 'BLR → BDQ → DEL',
       'CCU → BOM → TRV → BLR', 'CCU → BOM → HBX → BLR',
       'BOM → BDQ → DEL → HYD', 'BOM → CCU → HYD',
       'BLR → TRV → COK → DEL', 'BLR → IDR → DEL',
       'CCU → IXZ → MAA → BLR', 'CCU → GAU → IMF → DEL → BLR',
       'BOM → GOI → PNQ → HYD', 'BOM → BLR → CCU → BBI → HYD',
       'BOM → MAA → HYD', 'BLR → BOM → UDR → DEL',
       'BOM → UDR → DEL → HYD', 'BLR → VGA → VTZ → DEL',
       'BLR → HBX → BOM → BHO → DEL', 'CCU → IXA → BLR',
       'BOM → RPR → VTZ → HYD', 'BLR → HBX → BOM → AMD → DEL',
       'BOM → IDR → DEL → HYD', 'BOM → BLR → HYD', 'BLR → STV → DEL',
       'CCU → IXB → DEL → BLR', 'BOM → JAI → DEL → HYD',
       'BOM → VNS → DEL → HYD', 'BLR → HBX → BOM → NAG → DEL', nan,
       'BLR → BOM → IXC → DEL', 'BLR → CCU → BBI → HYD → VGA → DEL',
       'BOM → BBI → HYD'], dtype=object)

In [23]:
train_df.Dep_Time.unique()

array(['22:20', '05:50', '09:25', '18:05', '16:50', '09:00', '18:55',
       '08:00', '08:55', '11:25', '09:45', '20:20', '11:40', '21:10',
       '17:15', '16:40', '08:45', '14:00', '20:15', '16:00', '14:10',
       '22:00', '04:00', '21:25', '21:50', '07:00', '07:05', '09:50',
       '14:35', '10:35', '15:05', '14:15', '06:45', '20:55', '11:10',
       '05:45', '19:00', '23:05', '11:00', '09:35', '21:15', '23:55',
       '19:45', '08:50', '15:40', '06:05', '15:00', '13:55', '05:55',
       '13:20', '05:05', '06:25', '17:30', '08:20', '19:55', '06:30',
       '14:05', '02:00', '09:40', '08:25', '20:25', '13:15', '02:15',
       '16:55', '20:45', '05:15', '19:50', '20:00', '06:10', '19:30',
       '04:45', '12:55', '18:15', '17:20', '15:25', '23:00', '12:00',
       '14:45', '11:50', '11:30', '14:40', '19:10', '06:00', '23:30',
       '07:35', '13:05', '12:30', '15:10', '12:50', '18:25', '16:30',
       '00:40', '06:50', '13:00', '19:15', '01:30', '17:00', '10:00',
       '19:35', '15:30', '12:10', '16:10', '20:35', '22:25', '21:05',
       '05:35', '05:10', '06:40', '15:15', '00:30', '08:30', '07:10',
       '05:30', '14:25', '05:25', '10:20', '17:45', '13:10', '22:10',
       '04:55', '17:50', '21:20', '06:20', '15:55', '20:30', '17:25',
       '09:30', '07:30', '02:35', '10:55', '17:10', '09:10', '18:45',
       '15:20', '22:50', '14:55', '14:20', '13:25', '22:15', '11:05',
       '16:15', '20:10', '06:55', '19:05', '07:55', '07:45', '10:10',
       '08:15', '11:35', '21:00', '17:55', '16:45', '18:20', '03:50',
       '08:35', '19:20', '20:05', '17:40', '04:40', '17:35', '09:55',
       '05:00', '18:00', '02:55', '20:40', '22:55', '22:40', '21:30',
       '08:10', '17:05', '07:25', '15:45', '09:15', '15:50', '11:45',
       '22:05', '18:35', '00:25', '19:40', '20:50', '22:45', '10:30',
       '23:25', '11:55', '10:45', '11:15', '12:20', '14:30', '07:15',
       '01:35', '18:40', '09:20', '21:55', '13:50', '01:40', '00:20',
       '04:15', '13:45', '18:30', '06:15', '02:05', '12:15', '13:30',
       '06:35', '10:05', '08:40', '03:05', '21:35', '16:35', '02:30',
       '16:25', '05:40', '15:35', '13:40', '07:20', '04:50', '12:45',
       '10:25', '12:05', '11:20', '21:40', '03:00'], dtype=object)

In [24]:
train_df['Dep_Hours']=train_df.Dep_Time.str.split(':').str[0]
train_df['Dep_Minutes']=train_df.Dep_Time.str.split(':').str[1]

In [25]:
train_df['Dep_Hours']=train_df.Dep_Hours.astype(int)
train_df['Dep_Minutes']=train_df.Dep_Minutes.astype(int)

In [27]:
train_df.drop(['Dep_Time'],axis=1,inplace=True)

In [28]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int32
 10  Month            10683 non-null  int32
 11  Year             10683 non-null  int32
 12  Dep_Hours        10683 non-null  int32
 13  Dep_Minutes      10683 non-null  int32
dtypes: int32(5), int64(1), object(8)
memory usage: 959.9+ KB

In [29]:
train_df['Arrival_Time']=train_df.Arrival_Time.apply(lambda x :x.split(' ')[0])

In [30]:
train_df['Arrival_Hour']=train_df.Arrival_Time.str.split(':').str[0]
train_df['Arrival_Minutes']=train_df.Arrival_Time.str.split(':').str[1]

In [31]:
train_df['Arrival_Hour']=train_df.Arrival_Hour.astype(int)
train_df['Arrival_Minutes']=train_df.Arrival_Minutes.astype(int)

In [32]:
train_df.drop(['Arrival_Time'],axis=1,inplace=True)

In [33]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int32
 9   Month            10683 non-null  int32
 10  Year             10683 non-null  int32
 11  Dep_Hours        10683 non-null  int32
 12  Dep_Minutes      10683 non-null  int32
 13  Arrival_Hour     10683 non-null  int32
 14  Arrival_Minutes  10683 non-null  int32
dtypes: int32(7), int64(1), object(7)
memory usage: 959.9+ KB

In [34]:
train_df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,2019,9,25,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218,12,5,2019,18,5,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302,1,3,2019,16,50,21,35

In [35]:
train_df.Duration.unique()

array(['2h 50m', '7h 25m', '19h', '5h 25m', '4h 45m', '2h 25m', '15h 30m',
       '21h 5m', '25h 30m', '7h 50m', '13h 15m', '2h 35m', '2h 15m',
       '12h 10m', '26h 35m', '4h 30m', '22h 35m', '23h', '20h 35m',
       '5h 10m', '15h 20m', '2h 55m', '13h 20m', '15h 10m', '5h 45m',
       '5h 55m', '13h 25m', '22h', '5h 30m', '10h 25m', '5h 15m',
       '2h 30m', '6h 15m', '11h 55m', '11h 5m', '8h 30m', '22h 5m',
       '2h 45m', '12h', '16h 5m', '19h 55m', '3h 15m', '25h 20m', '3h',
       '16h 15m', '15h 5m', '6h 30m', '25h 5m', '12h 25m', '27h 20m',
       '10h 15m', '10h 30m', '1h 30m', '1h 25m', '26h 30m', '7h 20m',
       '13h 30m', '5h', '19h 5m', '14h 50m', '2h 40m', '22h 10m',
       '9h 35m', '10h', '21h 20m', '18h 45m', '12h 20m', '18h', '9h 15m',
       '17h 30m', '16h 35m', '12h 15m', '7h 30m', '24h', '8h 55m',
       '7h 10m', '14h 30m', '30h 20m', '15h', '12h 45m', '10h 10m',
       '15h 25m', '14h 5m', '20h 15m', '23h 10m', '18h 10m', '16h',
       '2h 20m', '8h', '16h 55m', '3h 10m', '14h', '23h 50m', '21h 40m',
       '21h 15m', '10h 50m', '8h 15m', '8h 35m', '11h 50m', '27h 35m',
       '8h 25m', '20h 55m', '4h 50m', '8h 10m', '24h 25m', '23h 35m',
       '25h 45m', '26h 10m', '28h 50m', '25h 15m', '9h 20m', '9h 10m',
       '3h 5m', '11h 30m', '9h 30m', '17h 35m', '5h 5m', '25h 50m', '20h',
       '13h', '18h 25m', '24h 10m', '4h 55m', '25h 35m', '6h 20m',
       '18h 40m', '19h 25m', '29h 20m', '9h 5m', '10h 45m', '11h 40m',
       '22h 55m', '37h 25m', '25h 40m', '13h 55m', '8h 40m', '23h 30m',
       '12h 35m', '24h 15m', '1h 20m', '11h', '11h 15m', '14h 35m',
       '12h 55m', '9h', '7h 40m', '11h 45m', '24h 55m', '17h 5m',
       '29h 55m', '22h 15m', '14h 40m', '7h 15m', '20h 10m', '20h 45m',
       '27h', '24h 30m', '20h 25m', '5h 35m', '14h 45m', '5h 40m',
       '4h 5m', '15h 55m', '7h 45m', '28h 20m', '4h 20m', '3h 40m',
       '8h 50m', '23h 45m', '24h 45m', '21h 35m', '8h 5m', '6h 25m',
       '15h 50m', '26h 25m', '24h 50m', '26h', '23h 5m', '7h 55m',
       '26h 20m', '23h 15m', '5h 20m', '4h', '9h 45m', '8h 20m',
       '17h 25m', '7h 5m', '34h 5m', '6h 5m', '5h 50m', '7h', '4h 25m',
       '13h 45m', '19h 15m', '22h 30m', '16h 25m', '13h 50m', '27h 5m',
       '28h 10m', '4h 40m', '15h 40m', '4h 35m', '18h 30m', '38h 15m',
       '6h 35m', '12h 30m', '11h 20m', '7h 35m', '29h 35m', '26h 55m',
       '23h 40m', '12h 50m', '9h 50m', '21h 55m', '10h 55m', '21h 10m',
       '20h 40m', '30h', '13h 10m', '8h 45m', '6h 10m', '17h 45m',
       '21h 45m', '3h 55m', '17h 20m', '30h 30m', '21h 25m', '12h 40m',
       '24h 35m', '19h 10m', '22h 40m', '14h 55m', '21h', '6h 45m',
       '28h 40m', '9h 40m', '16h 40m', '16h 20m', '16h 45m', '1h 15m',
       '6h 55m', '11h 25m', '14h 20m', '12h 5m', '24h 5m', '28h 15m',
       '17h 50m', '20h 20m', '28h 5m', '10h 20m', '14h 15m', '35h 15m',
       '35h 35m', '26h 40m', '28h', '14h 25m', '13h 5m', '37h 20m',
       '36h 10m', '25h 55m', '35h 5m', '19h 45m', '27h 55m', '47h',
       '10h 35m', '1h 35m', '16h 10m', '38h 20m', '6h', '16h 50m',
       '14h 10m', '23h 20m', '17h 40m', '11h 35m', '18h 20m', '6h 40m',
       '30h 55m', '24h 40m', '29h 50m', '28h 25m', '17h 15m', '22h 45m',
       '25h 25m', '21h 50m', '33h 15m', '30h 15m', '3h 35m', '27h 40m',
       '30h 25m', '18h 50m', '27h 45m', '15h 15m', '10h 40m', '26h 15m',
       '36h 25m', '26h 50m', '15h 45m', '19h 40m', '22h 25m', '19h 35m',
       '25h', '26h 45m', '38h', '4h 15m', '25h 10m', '18h 15m', '6h 50m',
       '23h 55m', '17h 55m', '23h 25m', '17h 10m', '24h 20m', '28h 30m',
       '27h 10m', '19h 20m', '15h 35m', '9h 25m', '21h 30m', '34h 25m',
       '18h 35m', '29h 40m', '26h 5m', '29h 5m', '27h 25m', '16h 30m',
       '11h 10m', '28h 55m', '29h 10m', '34h', '30h 40m', '30h 45m',
       '32h 55m', '10h 5m', '35h 20m', '32h 5m', '31h 40m', '19h 50m',
       '33h 45m', '30h 10m', '13h 40m', '19h 30m', '31h 30m', '34h 30m',
       '27h 50m', '38h 35m', '42h 5m', '4h 10m', '39h 5m', '3h 50m', '5m',
       '32h 30m', '31h 55m', '33h 20m', '27h 30m', '18h 55m', '9h 55m',
       '41h 20m', '20h 5m', '31h 50m', '42h 45m', '3h 25m', '37h 10m',
       '29h 30m', '32h 20m', '20h 50m', '40h 20m', '13h 35m', '47h 40m'],
      dtype=object)

In [36]:
train_df['Duration-hours']=train_df.Duration.apply(lambda x :x.split('h')[0])

In [37]:
train_df['Duration_hours']=train_df['Duration-hours'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [38]:
train_df[train_df['Duration-hours']=='5m']

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minutes,Duration-hours
6474,Air India,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,5m,2 stops,No info,17327,6,3,2019,16,50,16,55,5m

In [39]:
train_df.drop([6474],inplace=True)

In [40]:
train_df['Duration_hours']=train_df['Duration-hours'].astype(int)

In [41]:
train_df.drop(['Duration'],axis=1,inplace=True)

In [42]:
train_df.drop(['Duration-hours'],axis=1,inplace=True)

In [43]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Total_Stops      10681 non-null  object
 5   Additional_Info  10682 non-null  object
 6   Price            10682 non-null  int64
 7   Date             10682 non-null  int32
 8   Month            10682 non-null  int32
 9   Year             10682 non-null  int32
 10  Dep_Hours        10682 non-null  int32
 11  Dep_Minutes      10682 non-null  int32
 12  Arrival_Hour     10682 non-null  int32
 13  Arrival_Minutes  10682 non-null  int32
 14  Duration_hours   10682 non-null  int32
dtypes: int32(8), int64(1), object(6)
memory usage: 1001.4+ KB

In [44]:
train_df.Total_Stops.isnull().sum()

1

In [45]:
train_df.Total_Stops.value_counts()

1 stop      5625
non-stop    3491
2 stops     1519
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [49]:
train_df.Total_Stops.value_counts().mode()[0]
#train_df['Total_Stops'].fillna(train_df['Total_Stops'].value_counts().mode()[0],inplace=True)

In [48]:
fill_missing_values(train_df,fill_value=0,fill_types=['Mode_Fill'],columns=['Total_Stops'],dataframe_name=train_df)

Missing Values BEFORE REMOVAL in             Airline    Source Destination                  Route Total_Stops  \
0           IndiGo  Banglore   New Delhi              BLR → DEL    non-stop
1        Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR     2 stops
2      Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK     2 stops
3           IndiGo   Kolkata    Banglore        CCU → NAG → BLR      1 stop
4           IndiGo  Banglore   New Delhi        BLR → NAG → DEL      1 stop
...            ...       ...         ...                    ...         ...
10678     Air Asia   Kolkata    Banglore              CCU → BLR    non-stop
10679    Air India   Kolkata    Banglore              CCU → BLR    non-stop
10680  Jet Airways  Banglore       Delhi              BLR → DEL    non-stop
10681      Vistara  Banglore   New Delhi              BLR → DEL    non-stop
10682    Air India     Delhi      Cochin  DEL → GOI → BOM → COK     2 stops

      Additional_Info  Price  Date  Month  Year  Dep_Hours  Dep_Minutes  \
0             No info   3897    24      3  2019         22           20
1             No info   7662     1      5  2019          5           50
2             No info  13882     9      6  2019          9           25
3             No info   6218    12      5  2019         18            5
4             No info  13302     1      3  2019         16           50
...               ...    ...   ...    ...   ...        ...          ...
10678         No info   4107     9      4  2019         19           55
10679         No info   4145    27      4  2019         20           45
10680         No info   7229    27      4  2019          8           20
10681         No info  12648     1      3  2019         11           30
10682         No info  11753     9      5  2019         10           55

       Arrival_Hour  Arrival_Minutes  Duration_hours
0                 1               10               2
1                13               15               7
2                 4               25              19
3                23               30               5
4                21               35               4
...             ...              ...             ...
10678            22               25               2
10679            23               20               2
10680            11               20               3
10681            14               10               2
10682            19               15               8

[10682 rows x 15 columns]  data

Airline            0
Source             0
Destination        0
Route              1
Total_Stops        1
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
Dep_Hours          0
Dep_Minutes        0
Arrival_Hour       0
Arrival_Minutes    0
Duration_hours     0
dtype: int64

Missing Values AFTER REMOVAL in             Airline    Source Destination                  Route Total_Stops  \
0           IndiGo  Banglore   New Delhi              BLR → DEL    non-stop
1        Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR     2 stops
2      Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK     2 stops
3           IndiGo   Kolkata    Banglore        CCU → NAG → BLR      1 stop
4           IndiGo  Banglore   New Delhi        BLR → NAG → DEL      1 stop
...            ...       ...         ...                    ...         ...
10678     Air Asia   Kolkata    Banglore              CCU → BLR    non-stop
10679    Air India   Kolkata    Banglore              CCU → BLR    non-stop
10680  Jet Airways  Banglore       Delhi              BLR → DEL    non-stop
10681      Vistara  Banglore   New Delhi              BLR → DEL    non-stop
10682    Air India     Delhi      Cochin  DEL → GOI → BOM → COK     2 stops

      Additional_Info  Price  Date  Month  Year  Dep_Hours  Dep_Minutes  \
0             No info   3897    24      3  2019         22           20
1             No info   7662     1      5  2019          5           50
2             No info  13882     9      6  2019          9           25
3             No info   6218    12      5  2019         18            5
4             No info  13302     1      3  2019         16           50
...               ...    ...   ...    ...   ...        ...          ...
10678         No info   4107     9      4  2019         19           55
10679         No info   4145    27      4  2019         20           45
10680         No info   7229    27      4  2019          8           20
10681         No info  12648     1      3  2019         11           30
10682         No info  11753     9      5  2019         10           55

       Arrival_Hour  Arrival_Minutes  Duration_hours
0                 1               10               2
1                13               15               7
2                 4               25              19
3                23               30               5
4                21               35               4
...             ...              ...             ...
10678            22               25               2
10679            23               20               2
10680            11               20               3
10681            14               10               2
10682            19               15               8

[10682 rows x 15 columns]  data

Airline            0
Source             0
Destination        0
Route              1
Total_Stops        0
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
Dep_Hours          0
Dep_Minutes        0
Arrival_Hour       0
Arrival_Minutes    0
Duration_hours     0
dtype: int64

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minutes,Duration_hours
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,2019,22,20,1,10,2
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,2019,5,50,13,15,7
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,2019,9,25,4,25,19
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,2019,18,5,23,30,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,2019,16,50,21,35,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,non-stop,No info,4107,9,4,2019,19,55,22,25,2
10679,Air India,Kolkata,Banglore,CCU → BLR,non-stop,No info,4145,27,4,2019,20,45,23,20,2
10680,Jet Airways,Banglore,Delhi,BLR → DEL,non-stop,No info,7229,27,4,2019,8,20,11,20,3
10681,Vistara,Banglore,New Delhi,BLR → DEL,non-stop,No info,12648,1,3,2019,11,30,14,10,2
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,2 stops,No info,11753,9,5,2019,10,55,19,15,8

In [54]:
from sklearn.preprocessing import LabelEncoder
labelencoder_airline=LabelEncoder()

In [61]:
#fit_transform can only be used for one column only
#we can find the value assigned for each using labelencoder-airline(['Airline'])
#we can find the value assigned for each using labelencoder-airline(['Airline-name'])
#these should be done before assigning to the variable

In [55]:
train_df['Airline']=labelencoder_airline.fit_transform(train_df['Airline'])

In [56]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  int64
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10681 non-null  object
 4   Total_Stops      10682 non-null  object
 5   Additional_Info  10682 non-null  object
 6   Price            10682 non-null  int64
 7   Date             10682 non-null  int32
 8   Month            10682 non-null  int32
 9   Year             10682 non-null  int32
 10  Dep_Hours        10682 non-null  int32
 11  Dep_Minutes      10682 non-null  int32
 12  Arrival_Hour     10682 non-null  int32
 13  Arrival_Minutes  10682 non-null  int32
 14  Duration_hours   10682 non-null  int32
dtypes: int32(8), int64(2), object(5)
memory usage: 1001.4+ KB

In [53]:
train_df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minutes,Duration_hours
0,3,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,2019,22,20,1,10,2
1,1,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,2019,5,50,13,15,7
2,4,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,2019,9,25,4,25,19
3,3,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,2019,18,5,23,30,5
4,3,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,2019,16,50,21,35,4

In [62]:
labelencoder_source=LabelEncoder()
labelencoder_destination=LabelEncoder()
labelencoder_route=LabelEncoder()
labelencoder_additionalinfo=LabelEncoder()
labelencoder_totalstops=LabelEncoder()

In [63]:
train_df['Source']=labelencoder_source.fit_transform(train_df['Source'])
train_df['Destination']=labelencoder_destination.fit_transform(train_df['Destination'])
train_df['Route']=labelencoder_route.fit_transform(train_df['Route'])
train_df['Total_Stops']=labelencoder_totalstops.fit_transform(train_df['Total_Stops'])
train_df['Additional_Info']=labelencoder_additionalinfo.fit_transform(train_df['Additional_Info'])

In [65]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  int64
 1   Source           10682 non-null  int32
 2   Destination      10682 non-null  int32
 3   Route            10682 non-null  int32
 4   Total_Stops      10682 non-null  int32
 5   Additional_Info  10682 non-null  int32
 6   Price            10682 non-null  int64
 7   Date             10682 non-null  int32
 8   Month            10682 non-null  int32
 9   Year             10682 non-null  int32
 10  Dep_Hours        10682 non-null  int32
 11  Dep_Minutes      10682 non-null  int32
 12  Arrival_Hour     10682 non-null  int32
 13  Arrival_Minutes  10682 non-null  int32
 14  Duration_hours   10682 non-null  int32
dtypes: int32(13), int64(2)
memory usage: 792.8 KB

In [66]:
train_df.head()

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Hours,Dep_Minutes,Arrival_Hour,Arrival_Minutes,Duration_hours
0,3,0,5,18,4,8,3897,24,3,2019,22,20,1,10,2
1,1,3,0,84,1,8,7662,1,5,2019,5,50,13,15,7
2,4,2,1,118,1,8,13882,9,6,2019,9,25,4,25,19
3,3,3,0,91,0,8,6218,12,5,2019,18,5,23,30,5
4,3,0,5,29,0,8,13302,1,3,2019,16,50,21,35,4